################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DesignPattern/.vs/DesignPatterns
/DesignPattern/StrategyPattern/bin
/DesignPattern/StrategyPattern/obj
/DesignPattern/FacadePattern/bin
/DesignPattern/FacadePattern/obj
/DesignPattern/BuilderPattern/bin/Debug/net6.0
/DesignPattern/BuilderPattern/obj
/DesignPattern/ObserverPattern/bin/Debug/net6.0
/DesignPattern/ObserverPattern/obj
