################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DesignPattern/.vs/DesignPatterns
/DesignPattern/StrategyPattern/bin
/DesignPattern/StrategyPattern/obj
/DesignPattern/FacadePattern/bin
/DesignPattern/FacadePattern/obj
/DesignPattern/BuilderPattern/bin
/DesignPattern/BuilderPattern/obj
/DesignPattern/ObserverPattern/bin
/DesignPattern/ObserverPattern/obj
/DesignPattern/AbstractFactoryPattern/bin
/DesignPattern/AbstractFactoryPattern/obj
/DesignPattern/StatePattern/bin
/DesignPattern/StatePattern/obj
/DesignPattern/AdapterPattern/bin
/DesignPattern/AdapterPattern/obj
/DesignPattern/MementoPattern/bin
/DesignPattern/MementoPattern/obj
/DesignPattern/CompositePattern/bin
/DesignPattern/CompositePattern/obj
/DesignPattern/SingletonPattern/obj
/DesignPattern/BridgePattern/bin
/DesignPattern/BridgePattern/obj
/DesignPattern/CommandPattern/bin
/DesignPattern/CommandPattern/obj
/DesignPattern/ChainOfResponsibilityPattern/bin
/DesignPattern/ChainOfResponsibilityPattern/obj
/DesignPattern/MediatorPattern/bin
/DesignPattern/MediatorPattern/obj
/DesignPattern/FlyweightPattern/bin
/DesignPattern/FlyweightPattern/obj
/DesignPattern/InterpreterPattern/bin
/DesignPattern/InterpreterPattern/obj
/DesignPattern/VisitorPattern/bin
/DesignPattern/VisitorPattern/obj
/DesignPattern/DecoratorPattern/bin
/DesignPattern/DecoratorPattern/obj
/DesignPattern/ProxyPattern/bin
/DesignPattern/ProxyPattern/obj
/DesignPattern/FactoryMethodPattern/bin
/DesignPattern/FactoryMethodPattern/obj
/DesignPattern/PrototypePattern/bin
/DesignPattern/PrototypePattern/obj
/DesignPattern/TemplateMethodPattern/bin
/DesignPattern/TemplateMethodPattern/obj
